# https://dioxuslabs.com/learn/0.6/CLI/configure/

[application]

[web.app]

# HTML title tag content
title = "NixBlitz"
%%DIOXUS_BASE_PATH_LINE%%

# include `assets` in web platform
[web.resource]

# [[web.proxy]]
# backend = "http://localhost:8081/api"

# Additional CSS style files
style = []

# Additional JavaScript files
script = []

[web.resource.dev]

# Javascript code file
# serve: [dev-server] only
script = []
